#onion{
  height: 300px;
  margin: 20px;
  left: 25%;
}
.wrapper{
  text-align: center;
}
#count{
  color: white;
  font-size: 64px;
}
#username{
  color: white;
  font-size: 46px;
}
#rain{
  height: 300px;
  margin: 20px;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.fadeinout{
  animation-name: afadeinout;
  animation-duration: 5000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.spinit {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 5;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes afadeinout {
    0% {
         opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
       opacity: 0;
    }
}
